.otp-input {
  width: 50px;
  height: 65px;
  border-radius: 0.75rem;
  background: #f8f9fa;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  
  &:focus {
    background: #fff;
    border-color: #0a192f;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 576px) {
  .otp-input {
    width: 60px;
  }
}
